$indigo: #845aff;
$white: #ffffff;
$dark: #080e10;
$blue: #28b0ff;
$green: #00dc93;
$gradient: linear-gradient(180deg, rgba(160, 216, 225, 1) 0%, #005b99 100%);
$gradient2: linear-gradient(210deg, rgba(224, 247, 250, 1) 0%, rgba(0, 59, 92, 1) 100%);

$gradient2: linear-gradient(210deg, #e7e7e7 0%, rgba(0, 59, 92, 1) 100%);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}

